body > footer {
  @extend .sans;
  font-size: .8em;
  color: $white;
  background-color: $footer-bg;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
  z-index: 1;
  p:last-child { margin-bottom: 0; }
  a:hover {
    color: $lightBrick;
  }
}
