body > header {
  margin: 0 auto;
  min-height: 120px;
  background: $header-bg image-url('eso_m78_header.png') no-repeat;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $gray;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}


@media only screen and (max-width: 550px) {
  body > header {
    h1 {
      padding-top: 40px;
    }
  }
}
